.hidden {
  display: none;
}

.button {
  display: none;
  border: none;
  background-color: #ff5982;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  margin-left: 0.4rem;
}

.button:hover{
  background-color: #ff3466
}

.file {
  border: none;
  background-color: #ff5982;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}

.file:hover {
  background-color: #ff3466
}

.material-icons {
  width: 24px;
  height: 24px;
  vertical-align: -0.3rem;
  margin-right: 0.3rem;
  margin-top: 0px;
}

.file-img {
  display: none;
}

#east {
  color: #000;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.input {
  padding: 0.6rem 0.9rem;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 1rem
}

.input:focus {
    box-shadow: 0 0 5px 0 rgba(251, 63, 109, 0.75);
    border: 1px solid #fff;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;margin:0
}

input[type=number]{
  -moz-appearance:textfield
}

input {
 -webkit-appearance: none;
}


h1 {
  font-weight: normal;
  text-align: center;
}

body {
  padding: 0px 20px;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

img {
  width: 60%;
  margin-top: 2rem
}

.button.is-active {
  display: inline;
}
