.hidden {
  display: none;
}

.button {
  display: none;
  border: none;
  background-color: #3da0ff;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  margin-left: 0.4rem;
}

.button:hover{
  background-color: #0082ff
}

.file {
  border: none;
  background-color: #3da0ff;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}

.file:hover {
  background-color: #0082ff
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  color: #fff;
  font-size: 24px;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';
}

.get_app {
  vertical-align: -0.3rem;
  margin-right: 0.3rem;
}


.file-img {
  display: none;
}

#east {
  color: #000;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.input {
  padding: 0.6rem 0.9rem;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 1rem
}

.input:focus {
    box-shadow: 0 0 5px 0 rgba(61,160,255);
    border: 1px solid #fff;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;margin:0
}

input[type=number]{
  -moz-appearance:textfield
}

h1 {
  font-weight: normal;
  text-align: center;
}

body {
  padding: 0px 20px;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

img {
  width: 60%;
  margin-top: 2rem
}

.button.is-active {
  display: inline;
}
